@font-face {
    font-family: 'Tan - Pearl';
    src: url('/fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tan - Pearl';
    src: url('../fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tan - Pearl';
    src: url('portfolio/fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    font-family: 'Lexend';
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    color: gray;
}
.social-button {
    background: #5F2FCE;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}
.social-button:hover {
    background: darkblue;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /*
    position: sticky;
    top: 0; */
}
.header{
    font-size: 17rem;
    text-align: center;
    font-family: 'Tan - Pearl', sans-serif;
    font-weight: 500;
    background: linear-gradient(0deg, #5F2FCE, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;        
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% { opacity: 0%; transform: translateY(-100px);}
    100% { opacity: 100%;  transform: translateY(0px);}
}

@media screen and (max-width: 1200px) {

    .header{
        font-size: 10rem;
    }
    
}
#about{
    border: solid 2px #5F2FCE;
    display: flex;
    flex-wrap: nowrap;
}
.container{
    width: 50%;
    height: 100%;
    border: solid 2px #5F2FCE;
}
.container2{
    width: 50%;
    height: 100%;
    border: solid 2px #5F2FCE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header5{
    text-align: left;
    font-size: 2rem;
    font-family: 'Lexend';
    font-weight: 400;
    padding: 30px;
}
.box{
    width: 50%; 
    height: 500px; 
    background-color: #723eeb;
}