@font-face {
    font-family: 'Tan - Pearl';
    src: url('/fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tan - Pearl';
    src: url('../fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tan - Pearl';
    src: url('portfolio/fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    font-family: 'Lexend';
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    color: gray;
}
.social-button {
    background: #5F2FCE;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}
.social-button:hover {
    background: darkblue;
}
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /*
    position: sticky;
    top: 0; */
}
.header{
    font-size: 17rem;
    text-align: center;
    font-family: 'Tan - Pearl', sans-serif;
    font-weight: 500;
    background: linear-gradient(0deg, #5F2FCE, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;        
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% { opacity: 0%; transform: translateY(-100px);}
    100% { opacity: 100%;  transform: translateY(0px);}
}

@media screen and (max-width: 960px) {

    .header{
        font-size: 9rem;
    }
    .header5 {
        font-size: 1.6rem !important; /* Force override if needed */
        width: 650px;
        height: 100px;
        margin-left: -150px;
        margin-top: -150px;
    }

}

@media (max-width: 768px) {
    .header5 {
        font-size: 1.1rem !important; 
        width: 350px;
        height: 100px;
        margin-left: -150px;
        margin-top: -150px;
    }

}

@media screen and (max-width: 375px) {

    .header{
        font-size: 4rem;
    }

    .slider-containers {
        width: 30%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
    }

    .cards {
        min-width: 307px;
        height: 522px;
        background: linear-gradient(135deg, #ff7eb3, #ff758c);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        flex-shrink: 0;
        border-radius: 30px;
    }
    .image{
        width: 10%;
        height: 10%;
        border-radius: 10%;
    }
    
    
}
#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.container {
    width: 48%;
    padding: 20px;
}

.container2 {
     width: 400px; 
     height: 400px; 
     display: flex;
     align-items: center;
     justify-content: center;
     flex-shrink: 0; 
}
.container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.header5{
    text-align: left;
    font-size: 2rem;
    font-family: 'Lexend';
    font-weight: 300;
    padding: 60px;
    padding-top: 100px;
}
.box{
}

.slider-container {
    width: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
    white-space: nowrap;

}
.slider::-webkit-scrollbar {
    display: none;
}
.card {
    min-width: 351px;
    height: 637px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    flex-shrink: 0;
    border-radius: 30px;

    
}
.card:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(124, 3, 155, 0.2);
    border: none;
    color: #1e0063;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}
#skills{
    display: flex;
    flex-direction: column;

}

.text{
    width: 80%;
}

#projects{
    display: flex;
    flex-direction: column;

}
.textP{
    width: 80%;
}

.cards {
    min-width: 507px;
    height: 622px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    flex-shrink: 0;
    border-radius: 30px;
}
.cards:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
}
.slider-containers {
    width: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}